<link rel="stylesheet" type="text/css" href="/callout-assets/calloutstyle.css">

<div class="successPush">
	<p>The message is being sent. Thank you.</p>
</div>
<div id="callout-content">
	<div class="callout-content-box ios">
		<?php foreach($this->reports as $report) { ?>			
			<?php 
				echo 'Date: ' . $report->date . ' ';
				echo 'Sent: ' . $report->noSent . ' ';
				echo 'Message: ' . $report->token . ' ';
				echo 'Invalid: ' . $report->invalid . ' ';
				echo 'iOS / Android: ' . $report->ios . '<br />';
			?>
		<?php } ?>
		
	</div>
</div>

<script type="text/javascript" src="/callout-assets/calloutjavascript.js"></script>
