html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: sans-serif;
	background: #eee;
}
a{ 
	color: #fff;
	text-decoration: none;
}

a:hover{ 
	color: #6ac5ff;
}

.top-menu{
	position:fixed;
	top:0;
	width: 100%;
	/* padding: 10px 0px 10px 0px; */
	background: #092637;
}

.top-menu .collapse{
	display: none;
	float: right;
	margin-right: 10px
}

.top-menu .menu{
	float: right;
	text-align: right;
	margin-right: 10px;
	margin-top: 20px;
}

.top-menu .menu a{
	padding: 10px;
}

.top-menu .logo{
	float: left;
	text-align: left;
	margin-left: 10px;
}


.top-menu .logo a div{
	padding: 5px 0px 5px 0px;
	width: 130px;
	height: 50px;
	background: url('../img/Logo/viosideLogoWhite.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.top-menu .logo a div:hover{
	background: url('../img/Logo/viosideLogoWhite_selected.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.main-container{margin-top: 90px;}