#callout-content{ max-width: 1024px; margin: auto; position: relative; z-index: 1;}

#callout-content h1{text-align: center; padding: 10px; margin-top: 90px; color: #888; margin-bottom: 20px;}

#callout-content .callout-content-box{ background: #fff; border-bottom: 2px solid #ddd; max-width: 768px; margin: auto; z-index: 2; position: relative; }

#callout-content .sidebar{background: #fff; border-bottom: 2px solid #ddd; margin: auto; display: none; overflow: auto;}

.callout-content-box form{ padding: 20px; }

.callout-content-box form div{ padding: 0 0 0 0; }

.callout-content-box form div:nth-child(even){margin-bottom: 30px;}

.callout-content-box form div label{color: #aaa;}

.callout-content-box form div input{width: 100%; border: none; border-bottom: 1px solid #ccc; font-size: 1em; color: #555; padding: 5px;}

.callout-content-box form div input:focus{ outline:none; border-bottom: 1px solid #9b2300;}

.callout-content-box form div .submitButton{font-size: 1.2em; background: #9b2300; color: #eee; padding: 10px 0 10px 0; cursor: pointer;}

.callout-content-box form div .submitButton:hover{ background: #ab2700; }

.tabs{position: absolute; left: 0; margin-left: 5%; margin-top: -35px; z-index: 0;}

.tabs div{background: #6f1900; color: #eee; float: left;padding: 10px 30px 10px 30px; margin-top: 5px;
   transition: all .1s ease-in-out;
   -moz-transition: all .1s ease-in-out;
   -webkit-transition: all .1s ease-in-out;}

.tabs div:hover{background: #9b2300;}

.tabs .selected{background: #b12800; color: #fff;margin-top: 0;}

.tabs .selected:hover{background: #b12800;}

#callout-content .errors{ margin-top: 20px; }

#callout-content .errors p {width: 92%; text-align: left; line-height: 30px; color: #bc3c3c;}

#callout-content .errors h3 {font-size: 1em; padding: 10px; color: #fff; background: #9b2300;}

@media only screen and (min-width:768px){
	#callout-content .callout-content-box{ float: left; margin-left: 5%; width: 60%;}
	
	#callout-content .sidebar{ display: block; margin-right: 5%; width: 26%; margin-bottom: 20px;}
	
	#callout-content .sidebar p{ padding: 10px; float: left;}
	
	#callout-content .sidebar p .active{ color: #34bc61; }
	
	#callout-content .sidebar p .test{ color:#E9BA4A; }
	
	#callout-content .sidebar p .inactive{ color: #bc3c3c; }
	
	.callout-content-box form div input{ font-size: 1.2em; padding: 10px; padding: 10px 0 0 0;}
	
	.sidebar p:first-child{ width: 55%; font-weight: 600; }
	
	.sidebar p:nth-child(even){ width: 25%; text-align: right; color: #aaa; }
	
	#callout-content .errors  {margin-top: inherit;}
}