#callout-content{ max-width: 1024px; margin: auto; position: relative; z-index: 1;}

#callout-content h1{text-align: center; padding: 10px; margin-top: 90px; color: #888; margin-bottom: 20px;}

#callout-content .callout-content-box{ background: #fff; border-bottom: 2px solid #ddd; max-width: 768px; margin: auto; z-index: 2; position: relative; }

#callout-content .sidebar{background: #fff; border-bottom: 2px solid #ddd; margin: auto; display: none; overflow: auto;}

.callout-content-box form{ padding: 20px; }

.callout-content-box form div{ padding: 0 0 0 0; }

.callout-content-box form div:nth-child(even){margin-bottom: 30px;}

.callout-content-box form div label{color: #aaa;}

.callout-content-box form div input{width: 100%; border: none; border-bottom: 1px solid #ccc; font-size: 1em; color: #555; padding: 5px;}

.callout-content-box form div input:focus{ outline:none; border-bottom: 1px solid #00bc6f;}

.callout-content-box form div .submitButton{font-size: 1.2em; background: #009b5c; color: #eee; padding: 10px; cursor: pointer;}

.callout-content-box form div .submitButton:hover{ background: #00bc6f; }

.tabs{position: absolute; left: 0; margin-left: 5%; margin-top: -35px; z-index: 0;}

.tabs div{background: #009b5c; color: #eee; float: left;padding: 10px 30px 10px 30px; margin-top: 5px;
   transition: all .1s ease-in-out;
   -moz-transition: all .1s ease-in-out;
   -webkit-transition: all .1s ease-in-out;}

.tabs div:hover{background: #00af68;}

.tabs .selected{background: #00bc6f; color: #fff;margin-top: 0;}

.tabs .selected:hover{background: #00bc6f;}

#callout-content .errors{ margin-top: 20px; }

#callout-content .errors p {width: 92%; text-align: left; line-height: 30px; color: #bc3c3c;}

#callout-content .errors h3 {font-size: 1em; padding: 10px; color: #fff; background: #00bc6f;}

.successPush{ width: 100%; color: #fff; background: #34bc61; padding: 20px 10px 20px 10px; text-align: center; max-width: 400px; margin: auto; position: fixed; top:0; left: 50%; margin-left: -200px; z-index: 10; opacity: 0;
   transition: all 0.6s ease-in-out;
   -moz-transition: all 0.6s ease-in-out;
   -webkit-transition: all 0.6s ease-in-out; }

.successPushAnimation{ opacity: 1; margin-top: 100px; }

.greyBG{background: #B7B7B7;}

@media only screen and (min-width:768px){
	#callout-content .callout-content-box{ float: left; margin-left: 5%; width: 60%;}
	
	#callout-content .sidebar{ display: block; margin-right: 5%; width: 26%; margin-bottom: 20px;}
	
	#callout-content .sidebar p{ padding: 10px; float: left;}
	
	#callout-content .sidebar p .active{ color: #34bc61; }
	
	#callout-content .sidebar p .test{ color:#E9BA4A; }
	
	#callout-content .sidebar p .inactive{ color: #bc3c3c; }
	
	.callout-content-box form div input{ font-size: 1.2em; padding: 10px; padding: 10px 0 0 0;}
	
	.sidebar p:first-child{ width: 55%; font-weight: 600; }
	
	.sidebar p:nth-child(even){ width: 25%; text-align: right; color: #aaa; }
	
	#callout-content .errors  {margin-top: inherit;}
}