/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	callout-content: '';
	callout-content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/***********   Style Starts Here   ***********/

.cleared{clear: both;}

a{ text-decoration: none; }

body{ font-family: sans-serif; background: #f2f2f2; font-family: 'Open Sans', sans-serif;  padding-bottom: 20px;}

h1{ font-size: 2em; }

h2{ font-size: 1.5em; }

h3{ font-size: 1em; }

header{ background: #333333;padding-bottom: 5px;position: fixed;top: 0;left: 0;width: 100%; z-index: 3; }

header .icon{ float: left;}

header .icon img{display: none;}

header .menupanel .toplogin{border-bottom: 1px #00a05f solid;}

header .menupanel .toplogin p{ padding: 10px; padding-bottom: 10px; font-size: 0.8em; }

header .menupanel{  color: #eee; text-align: center;}

header .menupanel a{ color: #eee; }


header .menupanel ul{margin-top: 20px;}

header .menupanel ul li{ display: inline; padding: 5px 20px 0px 20px;
   transition: all .1s ease-in-out;
   -moz-transition: all .1s ease-in-out;
   -webkit-transition: all .1s ease-in-out;}

header .menupanel ul .selected{ background: #00a05f; }

header .menupanel ul li:hover{ background: #00a05f; }

#spaceformenu{ height: 150px;}

.login-box{ background: #fff; max-width: 400px; margin: auto; border-bottom: 2px solid #ddd; margin-top: 30px; }

.login-box p{ color: #9b2300; padding: 10px; }

@media only screen and (min-width:768px){

	body{ font-weight: 100; }
	
	h1{ font-size: 2.5em; }
	
	h2{ font-size: 2em; }
	
	h3{ font-size: 1.5em; }

	header .icon img{display: block; width: 55px; padding: 10px;}
	
	header .menupanel{ float: right; text-align: right;}
	
	header .menupanel ul li{ padding: 5px; padding-left: 50px; padding-right: 50px; }
	
}  
