<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="robots" content="noindex, nofollow">
	<link rel="icon" type="image/x-icon" href="/images/favicon/favicon.png">
	<title>CallOut</title>
	<meta name="description" content="Callout is Vioside's own push notification system.">
	<link rel="stylesheet" type="text/css" href="/callout-assets/style.css">
            
	<script type="text/javascript" src="/callout-assets/jquery.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="container">
		<header>
			<div class="icon">
				<img src="/callout-assets/icon.png" alt="icon"/>
			</div>
			<div class="menupanel">
				<div class="toplogin">
				<?php if($this->user != null) { ?>
					
					<p>Hi <?php echo $this->user->getDisplayName() ?> | <a href="<?php echo $this->url("zfcuser/logout") ?>">Sign Out</a></p>
				<? } else { ?>
					<a href="<?php echo $this->url("zfcuser/login") ?>"><p>Login</p></a>
				<? } ?>
				</div>
				<div>
					<ul>
						<a href=""><li class="selected">PUSH</li></a>
						<a href=""><li>STATISTICS</li></a>
						<a href=""><li>HELP</li></a>
					</ul>
				</div>
			</div>
			<div class="cleared"></div>
		</header>
		<div id="spaceformenu">&nbsp;</div>

        <?php echo $this->content; ?>
</body>
</html>