<script type="text/javascript">
	var btnPressed = 0;
	function sendPush()
	{
		var valid = validateForm();
		var iOSPush = 1;
		
		if(valid==true && btnPressed == 0) {
			btnPressed = 1;
			$(".errors").fadeOut(500);
			$(".submitButton").css("background", "#aaa");
			$(".submitButton").css("cursor", "not-allowed");
			
			var trans = $('.successPush').addClass('successPushAnimation');
				setTimeout(function() {
			    trans.removeClass('successPushAnimation');
			}, 4000);
		
			if ( $( ".androidTab div" ).hasClass( "selected" ) ) {
				//android push
				$.post("<? echo $this->url("push", array("action"=>"androidpush")) ?>", { alert:$("#alertInput").val(), id:$("#idInput").val(), tag:$("#tagInput").val() }, function(data){
			    	//$("#content").html(data).show();
			    	//alert(data);

			    });
			} else {
				//ios push
				$.post("<? echo $this->url("push", array("action"=>"iospush")) ?>", { alert:$("#alertInput").val(), idInput:$("#idInput").val(), sound:$("#soundInput").val(), badge:$("#badgeInput").val(), tag:$("#tagInput").val() }, function(data){
			    		//$("#content").html(data).show();

			    });
			}
	    }
	}
	
</script>

<link rel="stylesheet" type="text/css" href="/callout-assets/calloutstyle.css">

<div class="successPush">
	<p>The message is being sent. Thank you.</p>
</div>
<div id="callout-content">
		<div class="tabs">
			<a href="" class="iOSTab" onclick="return false"><div class="selected">iOS</div></a>
			<a href="" class="androidTab" onclick="return false"><div>Android</div></a>
		</div>
		<div class="callout-content-box ios">
			<form name="pushForm" method="post">
				<div><label for="alert">Alert</label></div>
				<div><input  type="text" name="alert" class="alertInput" id="alertInput" maxlength="200"></div>
				<div class="iosExtraButtons"><label for="sound">Sound</label></div>
				<div class="iosExtraButtons"><input  type="text" name="sound" class="soundInput" id="soundInput" ></div>
				<div class="iosExtraButtons"><label for="badge">Badge (numbers ONLY)</label></div>
				<div class="iosExtraButtons"><input  type="text" name="badge" class="badgeInput" id="badgeInput" value="0"></div>
				<div><label for="id">ID</label></div>
				<div><input  type="text" name="id" class="idInput" id="idInput"></div>
				<div><label for="tag">Tag</label></div>
				<div><input  type="text" name="tag" class="tagInput" id="tagInput"></div>
				<div><a href="#form" onclick="sendPush()" class="submitButton">Send Push</a></div>
			</form>
		</div>
		<div class="sidebar">
			<p><span class="active">Active Users:</span></p><p><?php echo $this->tokens->count() ?></p>
			<div class="cleared"></div>
		</div><!--

		<div class="sidebar">
			<p><span class="test">Test Users:</span></p><p>1,105</p>
		</div>
		<div class="sidebar">
			<p><span class="inactive">Inactive Users:</span></p><p>1,105</p>
		</div>
		-->
		<div class="sidebar errors">
			<h3>Problems</h3>
			<p></p>
		</div>
		<div class="cleared"></div>
	</div>
</div>

<script type="text/javascript" src="/callout-assets/calloutjavascript.js"></script>
